<!DOCTYPE html>
<html>
  <head>
    <title>Destinations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <%= link_to "home", "/" %>
    <%= link_to "à propos", "/about" %>
    <%= link_to "contact", "/contact"%>
    <%= link_to "destinations", "/destinations" %>
  </body>
</html>
